include LICENSE
include README.md
include *.py
recursive-include swindpy *.cdf
recursive-include swindpy *.py

exclude tox.ini
exclude .readthedocs.yaml
exclude pyproject.toml

recursive-exclude tests *
recursive-exclude docs *
recursive-exclude res *
recursive-exclude inherited *
recursive-exclude swindpy *.XLS
recursive-exclude swindpy *.npy
recursive-exclude swindpy *.xls